/* Header card */
header h2 {
    font-family: 'Sora';
    font-size: 1.25rem;
    margin-top: -1rem;
    font-weight: normal;
}

/* Hack club image link */
header { position: relative; }
header a img {
    position: absolute;
    top: -35px;
    width: 100px;
    right: 0;
    transition: transform 0.1s var(--ease);
}
header a:hover img {
    transform: scale(1.1) rotate(-5deg) translateY(-6px);
}
header a:active img {
    transform: scale(0.95) rotate(-10deg) translateY(-8px);
}

/* Trivia button responses */
button.correct {
    background-image: var(--green)!important;
    background-color: var(--green)!important;
    box-shadow: 0 0 10px var(--green)!important;
}
button.incorrect {
    background-image: var(--red)!important;
    background-color: var(--red)!important;
    box-shadow: 0 0 10px var(--red)!important;
}

/* More games back button */
.showMoreBtn {
    color: var(--white);
    font-size: 1.3rem;
}

/* Trivia grid buttons */
.guessGrid { display: flex; flex-wrap: wrap; }
.guessGrid button { flex: 45%; }

/* Bottom page info */
#info { text-align: center; opacity: 0.6; }
#info a { color: var(--blue2); }

/* Animations between winning/losing cards */
.card {
    scale: 1;
    max-height: 500px;
    opacity: 1;
    transition: scale .3s var(--ease), opacity .2s var(--ease), height .3s var(--ease);
}
.hidden { scale: 0; max-height: 0; opacity: 0; }
